@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

#root {
    /* font-family: sans-serif; */
    font-family: 'Helvetica-Neue-Regular';
    /* letter-spacing: -0.023rem; */
    background-color: #F8FAFC;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
}

@layer base {

    @font-face {
        font-family: "Helvetica-Neue-Thin";
        /* font-weight: 200; */
        src: url("/public/fonts/HelveticaNeueThin.otf");
    }

    @font-face {
        font-family: "Helvetica-Neue-Light";
        /* font-weight: 300; */
        src: url("/public/fonts/HelveticaNeueLight.otf");
    }

    @font-face {
        font-family: "Helvetica-Neue-Italic";
        font-style: italic;
        src: url("/public/fonts/HelveticaNeueItalic.ttf");
    }

    @font-face {
        font-family: "Helvetica-Neue-Regular";
        /* font-weight: 400; */
        src: url("/public/fonts/HelveticaNeueRoman.otf");
    }

    @font-face {
        font-family: "Helvetica-Neue-Medium";
        /* line-height: "30px"; */
        font-weight: 500;
        src: url("/public/fonts/HelveticaNeueMedium.otf");
    }

    @font-face {
        font-family: "Helvetica-Neue-Bold";
        font-weight: 700;
        src: url("/public/fonts/HelveticaNeueBold.otf");
    }
}